<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informatica</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="container">

    <h2>Sistema de Controle de Clientes e Planos</h2>
    Aula de C# WebDeveloper - COTI Informática
    <hr />

    <p>
        Selecione a ação desejada:
    </p>

    <ul>
        <li> <a href="/Plano/Cadastro">Cadastrar Planos</a> </li>
        <li><a href="/Plano/Consulta">Consultar Planos</a></li>
    </ul>

    <ul>
        <li> <a href="/Cliente/Cadastro">Cadastrar Clientes</a> </li>
        <li><a href="/Cliente/Consulta">Consultar Clientes</a></li>
    </ul>

</body>
</html>
